.countertops-main {

  

  #picture-hidden {
    display: none;
  }

  #desktop-p {
    display: none;
  }

  #doors-pictures {
    div {
      max-height: unset;
    }
  }

  .desktop-title {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1190px;
    margin: auto;

    .countertops-main-img {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      padding: 66.4% 0 0 0;
    
      > img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .landing-sched {
      display: none;
    }

    .button {
      display: flex;
      justify-content: center;

      > span {
        background-image: linear-gradient(to bottom, #b16e80, #9a5767, #834150, #6c2c39, #551624);
        padding: 4px 8px;
        border-radius: 6px;
        margin: 20px 0;
        -webkit-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        color: #EACD79;
      }
    }

    .types {
      display: flex;
      flex-direction: column;
      align-items: center;

      .sched {
        display: none;
      }
      
      > h3 {
        text-align: center;
        width: 93%;
      }
      
      > p {
        margin: 2px 15px;
      }
    }

    .samples {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      width: 97%;

      > h2 {
        font-size: 35px;
        color: rgb(132, 23, 47);
        padding: 0px;
        margin: 20px 0px 0px;
      }

      #countertop-picts {
        display: flex;
        flex-direction: column;
        
        > h2 {
          font-size: 30px;
          margin-left: 0px;
          margin-right: auto;
        }

        .counter-name {
          margin: auto;

          #quartz-button {
            // background-color: green;
            // display: flex;
            text-decoration: unset;
            background-image: linear-gradient(to bottom, #b16e80, #9a5767, #834150, #6c2c39, #551624);
            padding: 4px 8px;
            border-radius: 6px;
            margin: 20px 0;
            -webkit-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
            -moz-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
            box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
            color: #EACD79;
            cursor: pointer;
            // width: 25%;
            margin: 10px auto 0 0;
          }

          > p, ul {
            text-align: left;
            margin: 5px 0;
          }

          > div {
            margin: auto;
            width: 100%;
          }
        }
      }

      > h1 {
        text-align: center;
        width: 93%;
      }

      > div {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        > div {
          overflow: hidden;
          display: flex;
          justify-content: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }

        img {
          max-width: 95%;
          max-height: 95%;
          cursor: pointer;
        }
      }
    }
  }
}

@media(min-width: 490px){
  .countertops-main {

    .content {

      .samples {

        > div {

          > div {
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .countertops-main {

    .desktop-title {
      width: 100%;
      text-align: center;
      display: block;
    }

    .content {
      flex-direction: row;
      align-items: flex-start;
      padding-left: 5px;

      .info {
        max-width: 600px;
        // width: 600px;
        // min-width: 390px;
        margin: 50px 15px 0;
        border-radius: 7px;
        background-color: rgb(238, 236, 235);
        position: sticky;
        top: 10px;

        .types {
          // max-width: 500px;
          min-width: 350px;
          margin-top: 20px;

          > h3 {
            width: unset;
          }
  
          .sched {
            display: block;
          }
  
          > p {
            max-width: 500px;
          }
        }

        .button {
          display: none;
      }

      }

      .samples {
  
        > h2 {
          text-align: left;
          width: 98%;
          color: rgb(132, 23, 47);
          border-bottom: 1px solid rgb(132, 23, 47);
        }
  
        > div {
  
          img {
            width: 100%;
            max-height: unset;
            // height: 400px;
            margin: unset;
            // overflow: hidden;
          }
  
        }
      }

      .landing-sched {
        display: block;
      }
      
    }
  }
}


@media(min-width: 810px){
  .countertops-main {

    .content {

      .samples {

        #countertop-picts {

          .counter-name {

            > div {
              height: 230px;
              overflow: hidden;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                position: relative;
                top: -30px;
              }

            }
          }
        }
      }
    }
  }
}

@media(min-width: 900px){
  .countertops-main {

    .content {

      .samples {

        #countertop-picts {

          .counter-name {

            > div {
              height: 250px;
              overflow: hidden;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                position: relative;
                top: -55px;
              }

            }
          }
        }
      }
    }
  }
}

@media(min-width: 1000px){
  .countertops-main {

    .content {

      .samples {

        #countertop-picts {

          .counter-name {

            > div {
              height: 230px;
              overflow: hidden;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                position: relative;
                top: -100px;
              }

            }
          }
        }
      }
    }
  }
}

@media(min-width: 1100px){
  .countertops-main {

    #desktop-p {
      display: block;
    }

    // #mobile-p {
    //   display: none
    // }

    .content {
      .samples {
        #countertop-picts {

          .counter-name {

            > div {
              height: 330px;
              overflow: hidden;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                position: relative;
                top: -90px;
              }

            }
          }
        }
      }
    }

  }
}