.products-main {

  #quartz-picts {
    max-height: unset;
    font-size: 12px;
  }

  #quartz-name {
    font-weight: bold;
    margin: 5px 0;
  }

  #picture-hidden {
    display: none;
  }

  #doors-pictures {
    div {
      max-height: unset;
    }
  }

  .desktop-title {
    display: none;
  }

  .products-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1190px;
    margin: auto;

    .products-main-img {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      padding: 66.4% 0 0 0;
    
      > img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .landing-sched {
      display: none;
    }

    .products-button {
      display: flex;
      justify-content: center;

      > span {
        background-image: linear-gradient(to bottom, #b16e80, #9a5767, #834150, #6c2c39, #551624);
        padding: 4px 8px;
        border-radius: 6px;
        margin: 20px 0;
        -webkit-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        color: #EACD79;
      }
    }

    .products-types {
      display: flex;
      flex-direction: column;
      align-items: center;

      .products-sched {
        display: none;
      }
      
      > h3 {
        text-align: center;
        width: 93%;
      }
      
      > p {
        margin: 2px 15px;
      }
    }

    .products-samples {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      align-content: center;
      width: 90%;

      #button {
        text-decoration: unset;
        background-image: linear-gradient(to bottom, #b16e80, #9a5767, #834150, #6c2c39, #551624);
        padding: 4px 8px;
        border-radius: 6px;
        margin: 10px 0 20px;
        -webkit-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 32px -10px rgba(0,0,0,0.75);
        color: #EACD79;
        cursor: pointer;
        width: unset;
      }

      a {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      #countertop-picts {
        display: flex;
        flex-direction: column;
        // min-width: 200px;
        // min-height: 200px;

        > div {
          background-color: green;
          padding: 10px;
          // min-width: 200px;
          // min-height: 200px;

          // img {
          //   width: 200px;
          //   height: 200px;
          // }

          > div {
            background-color: blue;
            padding: 10px;
            min-width: 200px;
            min-height: 200px;
          }
        }

        img {
          width: 900px;
          max-width: unset;
          max-height: unset;
          margin: unset;
          padding: 10px;
        }
      }

      > h1 {
        text-align: center;
        width: 93%;
      }

      > div {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        > div {
          max-height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 20px;
        }

        img {
          width: 90%;
          max-height: 90%;
          margin: 29px 0 10px 0;
          cursor: pointer;
        }
      }
    }
  }
}

@media(min-width: 490px){
  .products-main {
    #quartz-picts {
      max-height: unset;
      font-size: 15px;
    }

    .products-content {

      .products-samples {

        > div {

          > div {
            max-height: 300px;
          }
        }
      }
    }
  }
}

@media(min-width: 700px){
  .products-main {
    #quartz-picts {
      max-height: unset;
    }

    .products-content {

      .products-samples {

        > div {

          > div {
            max-height: 400px;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .products-main {

    #quartz-picts {
      max-height: unset;
      justify-content: flex-start;
      font-size: 12px;
    }

    .desktop-title {
      width: 100%;
      text-align: center;
      display: block;
    }

    .products-content {
      flex-direction: row;
      align-items: flex-start;
      padding-left: 5px;

      .info {
        max-width: 600px;
        min-width: 390px;
        margin-top: 50px;
        border-radius: 7px;
        background-color: rgb(238, 236, 235);
        position: sticky;
        top: 10px;

        .products-types {
          max-width: 600px;
          min-width: 390px;
          margin-top: 20px;
  
          .products-sched {
            display: block;
          }
  
          > p {
            max-width: 500px;
          }
        }

        .products-button {
          display: none;
      }

      }

      .products-samples {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        > h2 {
          text-align: left;
          width: 98%;
          color: rgb(132, 23, 47);
          border-bottom: 1px solid rgb(132, 23, 47);
        }
  
        > div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          // height: auto;
          text-align: center;
          justify-content: center;
          
          > div {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 20px 5px;
            // margin-bottom: 20px;
            // color: rgb(132, 23, 47);
            overflow: hidden;
            max-height: 130px;
            width: 260px;
          }
  
          img {
            width: 100%;
            max-height: unset;
            // height: 400px;
            margin: unset;
            // overflow: hidden;
          }
  
        }
      }

      .landing-sched {
        display: block;
      }
      
    }
  }
}