@import 'landing';
@import 'header';
@import 'menu';
@import 'footer';
@import 'popSched';
@import 'products';
@import 'countertypes';
@import 'countertops';
@import 'productdetails';
@import 'schedcontent';
@import 'showroom';
@import 'showdetail';
@import 'ourprocess';
@import 'appointment';
@import 'images';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.link {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
}